*{
	margin: 0; /*create space around elements, outside of any defined borders.*/
	padding: 0; /*space btwn content and border*/
	font-family: Arial, New Times Roman;
}
/* banner holding navigation bar and content information */

/*NAVIGATION*/
.banner{
	width: 100%;/* extent of something from side to side*/
	height: 100vh;/* viewport height.Region of the screen used to display a portion of the total image to be shown.*/
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)),url(nairobi.jpg);/*combination of two of more
	colors to form a smooth transition*/
	/* to fit the whole div */
	background-size: cover;
	background-position: center;
	
}
.navbar{
	height: 50px; /* viewport height.Region of the screen used to display a portion of the total image to be shown.*/
	padding:20px ; /*space btwn content and border*/
	display: flex; /*expands items to fill available free space or shrinks them to prevent overflow. */
	align-items: center;
	justify-content: space-evenly; /*distributes space between and around content items along the main-axis of a flex container*/
	background:#4682B4;

}
.navbar ul li{
	list-style: none;
	display: inline-block;/*makes the element generate a block box that's laid out as if it were an inline */
	margin: 0 50px 0 0px;

}
.navbar ul li a{
	text-decoration:none;
	color: #fff;
	text-transform: uppercase;
}

.navbar ul li a:hover{
	width: 100%;
	height: 5px;
	background: #32cd32;
}
/*END OF NAVIGATION*/

.content{
	top: 70%;/*Sets the top edge position in % of containing element.*/
	
}
.content h1{
	font-size: 60px;
	margin-top: 20px;
	text-align: center;
	color:#ffff00;
}
.content p{
	margin: 50px 30px 0 30px;
	text-align: center;
	font-weight: 100;/*the thickness of the character */
    line-height: 1.6;/*property sets the height of a line box.*/
	font-size: 22px;
	color: white;
}

<!--IMPACT-->
#about{
	width: 100%;
	padding: 70px 0;
}
.title-text{
	text-align: center;
	padding-bottom: 70px;
}
.title-text p{
	margin: auto;
	padding-top:250px;
	font-size: 20px;
	color: darkgreen;
	font-weight: bold;
	position: relative; /*postion element on its current position without changing layout.
	Element remain in normal document flow*/
	display: inline-block;/*display list items horizontally instead of vertically.*/
}

.title-text h1{
	font-size: 50px;
}
<!--IMPACT-->


.about-box{
	width: 80%;
	margin: auto;
	display: flex;/*expands items to fill available free space or shrinks them to prevent overflow. */
	flex-wrap: wrap;/*flex items are forced onto one line or can wrap onto multiple lines. */
	align-items: center;
	text-align: center;
}
.about-box img{
	width: 70%;
	border-radius:10px;/*rounds the corners of an element's outer border edge.*/
	margin-top: 10px;
	margin-left: 200px;
}

.about-text p{
	padding: 0 20px;
	margin:0 30px 50px 30px;
	text-align: initial;/*default value*/
	line-height: 1.6; /*multiplied with the current font-size to set the line height*/
	font-size: 20px;

}

.title-text1{
	text-align: center;
	padding-bottom: 70px;
}
.title-text1 p{
	margin: auto;
	padding-top:150px;
	font-size: 20px;
	color: darkgreen;
	font-weight: bold;
	position: relative; /*postion element on its current position without changing layout.
	Element remain in normal document flow*/
	display: inline-block;/*display list items horizontally instead of vertically.*/
}

.title-text1 h1{
	font-size: 50px;
}

.mission{
	padding: 0 20px;
	margin:0 30px 80px 30px;
	margin-left: 50px;
	text-align: initial;
	line-height: 1.6;/*multiplied with the current font-size to set the line height*/
	font-size: 20px;
}

.mission ul li{
	height: 28px;
	padding-bottom: 50px;
	margin-left: 50px;
}



