*{
	margin: 0; /*create space around elements, outside of any defined borders.*/
	padding: 0; /*space btwn content and border*/
	font-family: Arial, New Times Roman;
}

.head{
	text-align: center;
	padding-top: 50px;
	font-size: 25px;
	padding-bottom: 40px;

}
.container {
 text-align: center;
display: block; /*  start a new line, and takes up the whole width	*/
line-height:1.6;/*multiplied by current font-size to set the line height */

}

.container p{
	font-size:20px;
	padding: 10px 50px;
	padding-bottom: 40px;
}

.container1 {
 text-align: center;
display: block; /*  start a new line, and takes up the whole width	*/
line-height:1.6;/*multiplied by current font-size to set the line height */
font-size: 22px;
color: darkgreen;
}
.container1 label{
	margin-right:360px;
}

.container1 input{
	width: 30%;
	height: 7vh;/* viewport height.Region of the screen used to display a portion of the total image to be shown.*/

}

button{
    margin-top: 40px;
    margin-bottom: 20px;
    width: 30%;
    font-size: 16px;
    padding: 12px 10px;
    background:	linear-gradient(#0bab64,#3bb78f);
    border-radius: 20px;/*rounded corners of button*/
}