
*{
	margin: 0; /*create space around elements, outside of any defined borders.*/
	padding: 0; /*space btwn content and border*/
	font-family: Arial, New Times Roman;
}

.navbar{
	height: 50px; /* viewport height.Region of the screen used to display a portion of the total image to be shown.*/
	padding:20px ; /*space btwn content and border*/
	display: flex; /*expands items to fill available free space or shrinks them to prevent overflow. */
	align-items: center; 
	justify-content: space-evenly; /*distributes space between and around content items along the main-axis of a flex container*/
	background:#4682B4;

}
.navbar ul li{
	list-style: none;
	display: inline-block;/*makes the element generate a block box that's laid out as if it were an inline */
	margin: 0 50px 0 0px; /*space aroung elements around a html browser.Outside
	of any defined border*/

}
.navbar ul li a{
	text-decoration:none;
	color: #fff;
	text-transform: uppercase;
}

.navbar ul li a:hover{
	width: 100%;
	height: 5px;
	background: #32cd32;
}
/*END OF NAVIGATION*/



.content{
	top: 70%; /*vertical position of a positioned element*/
	
}
.content h1{
	font-size: 60px;
	margin-top: 20px; /*space aroung elements around a html browser.Outside
	of any defined border*/
	text-align: center;
	color:#ffff00;
}
.content p{
	margin: 50px 30px 0 30px;  /*space aroung elements around a html browser.Outside
	of any defined border*/
	text-align: center; /*position*/
	font-weight: 100; /*degree of thickness of text*/
    line-height: 1.6; /*property sets the height of a line box.*/
	font-size: 22px;
	color: white;
}

<!--IMPACT-->
#about{
	width: 100%;
	padding: 70px 0; /*space btwn content and your border*/
}
.title-text{
	text-align: center; /*position*/
	padding-bottom: 70px; /*space btwn content and your border*/
}
.title-text p{
	margin: auto; /*browser calculates margin*/
	padding-top:250px;
	font-size: 20px;
	color: rgb(142, 173, 142);
	font-weight: bold; /*space btwn content and your border*/
	position: relative;
	display: inline-block; /*makes the element generate a block box that's laid out as if it were an inline */
}

.title-text h1{
	font-size: 50px;
}
<!--IMPACT-->


.about-box{
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
}
.about-box img{
	width: 70%;
	border-radius:10px;
	margin-top: 10px;
	margin-left: 200px;
}

.about-text p{
	padding: 0 20px;
	margin:0 30px 50px 30px;
	text-align: initial;
	line-height: 1.6;
	font-size: 20px;

}

.title-text1{
	text-align: center;
	padding-bottom: 70px;
}
.title-text1 p{
	margin: auto;
	padding-top:150px;
	font-size: 20px;
	color: darkgreen;
	font-weight: bold;
	position: relative;
	display: inline-block;
}

.title-text1 h1{
	font-size: 50px;
}

.mission{
	padding: 0 20px;
	margin:0 30px 80px 30px;
	margin-left: 50px;
	text-align: initial;
	line-height: 1.6;
	font-size: 20px;
}

.mission ul li{
	height: 28px;
	padding-bottom: 50px;
	margin-left: 50px;
}



